<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
<h1> This is Home Page </h1>
<p> para para para para para para para para para para para para para para para</p>
</body>

</html>