{{template "base" .}}
{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is Home Page</h1>
      <p>
        para para para para para para para para para para para para para para
        para
      </p>
    </div>
    <div></div>
  </div>
</div>
{{ end }}
